[Unit]
Description=script for bootin up ChaosMouth Prj
After=mdns.service
#Requires=multi-user.target network-online.target sockets.target

[Service]
ExecStart=/bin/bash /home/root/git/github-muraji/ChaosMouth/script/start.sh
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
